<head>
    <%- include('../globals/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../globals/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h2>Payment Cancel</h2>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>